//== Global styles for Unimelb Template
//
//##

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
  text-rendering: optimizeLegibility;

  // line-height for small screens (1.5789) already set by bootstrap
  @media screen and (min-width: $screen-sm) {
    line-height: 1.68;
  }
}

#main_content {
   min-height: 100%;
   //position: relative;
<!--[if IE 6]>
   height: 100%;
<![endif]-->
   //margin-bottom: 60px;
}

div#content_body {
  @media (min-width:$screen-sm) {
    padding-left: $uomt-sidebar-width + 30px;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2em;

    &.padding-fixed-nav {
      padding-top: 2rem + $uomt-header-height-fixed;
    }
  }
}

.uomt-button-hero {
  outline: 0;
  background-color: #fff;

  border-radius: 5px;
  font-size: .8125rem * $uomt-scale;
  letter-spacing: .0625rem * $uomt-scale;
  margin: 1.25rem*$uomt-scale 0;
  padding: .625rem * $uomt-scale;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    opacity: .3;
    color: #000;
  }
  &:focus, &:hover {
    background-color: $uomt-col-lighterblue;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
  }
  &:after {
    font-size: .9375rem * $uomt-scale;
    padding-left: .625rem * $uomt-scale;
    content: "\2192";
    line-height: 0;
  }
  @media (min-height: 700px) {
    font-size: .9375rem * $uomt-scale;
    margin: 1.25rem*$uomt-scale 0;
    padding: 1.25rem * $uomt-scale;
    &:after {
      font-size: 1.625rem * $uomt-scale;
      padding-left: .9375rem * $uomt-scale;
    }
  }
}
