@mixin sidebar-width {
  width: $uomt-sidebar-width;
  left: $uomt-sidebar-width;
  margin-left: -$uomt-sidebar-width;
}

div#sidebar-bg {
  @include sidebar-width;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  box-shadow: 2px 0px 10px $uomt-col-paleblue;
}

nav#sidebar {
  @include sidebar-width;
  position: absolute;
  height: 100%;
  padding: 77px 45px 30px; // width: 210px;
}

nav#sidebar ul.nav.nav-pills.nav-stacked {
  a {
    @include transition(all 0.3s ease 0s);
    outline: 0;

    // Bootstrap overrides
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;

    // body.jumpnav-active .uomcontent #outer a
    padding-bottom: .4375rem * $uomt-scale;
    padding-top: .4375rem * $uomt-scale;
    display: block;
    font-weight: $uomt-fw-light;
    text-decoration: none;
    white-space: normal;

    // .uomcontent a
    color: $link-color;

    // body.jumpnav-active .uomcontent #outer li
    font-size: 14px;

    // .uomcontent li, .uomcontent p
    letter-spacing: .0125rem * $uomt-scale;

    // body
    //line-height: 1.5789;

    &:hover, &:focus {
      color: $link-hover-color;
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #000;
    }

    @media screen and (min-width: $screen-sm) {
      // body.jumpnav-active .uomcontent #outer a
      border-bottom: 1px solid $uomt-col-lightergray;

      // body
      //line-height: 1.68;
    }
  }

  // Level 1 headings
  & > li > a {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $uomt-col-midgray !important;
    text-decoration: none !important;
    font-weight: $uomt-fw-regular;
  }

  // Level 2 headings
  li.openstack-panel-group {
    margin-left: 15px;
  }
  //li.nav-header > a > span.nav-header-title,
  li.openstack-panel-group > a {
    // Unset level 2 header styling and align left
    //font-size: inherit;
    //font-weight: inherit;
    text-transform: inherit;
    text-align: left;
    width: 100%;
    display: inline-block;

    //color: #006fdc !important;
  }

  // Size of the toggle icon
  [data-toggle="collapse"] .openstack-toggle.fa {
    font-size: 14px;
  }

  // Style for a selected panel
  a.openstack-panel.active {
    text-decoration: underline;
    //font-weight: 400;
    //color: #004576;
    color: #000;
  }

  // Sets the arrow toggles for each dashboard list
  .openstack-dashboard [data-toggle="collapse"] {
    .openstack-toggle.fa {
      // font-size: $font-size-small;
      &::before {
        // Type of arrow, $fa-var-angle-up in /horizon/lib/font-awesome/scss/variables
        content: "\f106";
      }
    }
    &.collapsed {
      .openstack-toggle.fa {
        // Direction the arrow points when collapsed
        @include rotate(180deg);
      }
    }
  }
}
