.alloc-icon-ok {
  color: #468847;
}

.alloc-icon-wip {
  color: #c09853;
}

.delete-icon-sp{
  cursor: pointer;
}

.medium_width{
  width: 350px;
}

.grant_div{
  padding: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.label-resource-help {
  font-size: small;
}

div.form-group.allocation-inline {
  .controls {
    float: left;
    padding-right: 1em;
  }

  label {
    padding-top: 5px;
  }

  img.help-icon {
    margin-left: 1em;
    margin-right: 0;
    margin-bottom: 6px;
  }
}

form#new-allocation {
  input[type="submit"] {
    margin-top: 30px;
  }

  .form-group div.input-group:not(.form-group) {
    max-width: 40rem;
    width: 100%;
  }

  textarea {
    height: 11rem;
  }

  input[type="text"].datepicker2 {
    width: 12rem;
    border-radius: 0;
  }

  div#quota_formset > div {
    max-width: 140rem; // $uomt-w-lge
    clear: both;
  }
}

div.allocation {
  @media (min-width: 992px) {
    .float-right {
      float: right;
    }
  }

  div.detail-actions {
    margin-top: 5rem;
  }

  a#allocation_accept_view,
  a#allocation_reject_view {
    margin: 5px;
  }
}
