{% load branding i18n %}
{% load context_selection %}

<nav class="navbar">
  <a class="uomt-page-header-logo" href="{% site_branding_link %}">
    <img src="{{ STATIC_URL }}themes/custom/img/logo.svg" alt="{% site_branding %}">
  </a>

  <ol class="uomt-page-local-history" id="uomt-page-local-history" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <li class="uomt-root" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="{% site_branding_link %}" title="{% site_branding %}" itemprop="item"><span class="uomt-icon-home" data-icon="home" data-bound-iconhelper="cjhvnavb200013i5n2yyym47q">
        <svg class="uomt-icon" role="img" focusable="false"><use xlink:href="#icon-home"></use></svg>
      </span><span>{% site_branding %}</span></a>
      <meta content="1" itemprop="position" />
    </li>
    <li class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <span itemprop="name">Project</span>
      <meta content="2" itemprop="position" />
    </li>
    <li class="uomt-last" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <span itemprop="name">{% show_overview %}</span>
      <meta content="3" itemprop="position" />
    </li>
  </ol>

  <ul class="uomt-page-header-tools">
    {% include "header/_context_selection.html" %}
    {% include "header/_user_menu.html" %}
    {% include "header/_support_menu.html" %}
  </ul>
</nav>
