{% extends 'base.html' %}

{% block title %}View allocation request{% endblock title %}

{% block sidebar %}
  {% with current_sidebar="allocation_list" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {{ block.super }}
  {% include "horizon/common/_page_header.html" with title="View allocation request" %}
{% endblock page_header %}

{% block main %}
  <div class="dash_block {{ display_ci }}">
    <div class="allocation content_body">
      <h2>{{ allocation.project_description }}</h2>
      <p style="font-weight: 300; text-align: right;">
        <i>Request submitted on {{ allocation.submit_date }}. Last modified {{ allocation.modified_time }}</i>
      </p>
      <br/>
      <div class="row">
        <div class="col-md-4 float-right">
          <table class="table table-hover">
            <tbody>
              <tr {% if allocation.status == 'A' %} class="success" {% else %} class="danger" {% endif %}>
                <th width="200px">State</th>
                <td>{{ allocation.get_status_display }}</td>
              </tr>
              {% if allocation.approver_email %}
              <tr>
                <th>Approver</th>
                <td>{{ allocation.approver_email }}</td>
              </tr>
              {% endif %}
              {% if allocation.status == 'A' or allocation.status == 'X' or allocation.project_name %}
              <tr>
                <th>Project ID</th>
                <td>{{ allocation.project_id|default:"(Project not linked)" }}</td>
              </tr>
              <tr>
                <th>Provisioned</th>
                <td>{{ allocation.provisioned|yesno }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="col-md-8">
          <table class="table table-hover">
            <tr>
              <th width="200px">Project identifier</th>
              <td>{{ allocation.project_name|default:"(Project not linked)" }}</td>
            </tr>
            <tr>
              <th>Project department</th>
              <td>{{ allocation.get_project_dept_display }}</td>
            </tr>
            <tr>
              <th>Start date</th>
              <td>{{ allocation.start_date }}</td>
            </tr>
            <tr>
              <th>Estimated end date</th>
              <td>{{ allocation.end_date }}</td>
            </tr><tr>
              <th>Estimated project duration</th>
              <td>{{ allocation.estimated_project_duration }} month(s)</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Requester</h3>
          <table class="table table-hover">
            <tr>
              <th width="200px">Name</th>
              <td>{{ allocation.requester_title }} {{ allocation.requester_given_name }} {{ allocation.requester_surname }}{% if allocation.requester_is_ci == 'yes' %} (Chief Investigator){% endif %}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ allocation.contact_email|urlize }}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{ allocation.requester_phone }}</td>
            </tr>
            <tr>
              <th>Department</th>
              <td>{{ allocation.get_requester_dept_display }}</td>
            </tr>
            <tr>
              <th>Role</th>
              <td>{{ allocation.get_requester_role_display }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Chief Investigator</h3>
            {% if allocation.investigators.all %}
                 <table class="table table-hover">
                {% for invest in allocation.investigators.all %}
                    <tr>
                        <th width="200">Name</th>
                        <td>{{ invest.title }} {{ invest.given_name }} {{ invest.surname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ invest.email|urlize }} </td>
                    </tr>
                    <tr>
                        <th>Other primary investigators, partner investigators
                            and other research collaborators</th>
                        <td>{{ invest.additional_researchers }}</td>
                    </tr>
                 {% endfor %}
                </table>
            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Requested Quota</h3>
          <table class="table table-hover">
            {% for quotagroup in allocation.quotas.all %}
            {% for quota in quotagroup.quota_set.all %}
              <tr>
                <th>{{ quota.resource.service_type }} - {{ quota.resource }} <span class="label label-primary hidden">{{ quota.group.zone }}</span></th>
                <td>{{ quota.requested_quota }} {{ quota.resource.unit }}</td>
              </tr>
            {% endfor %}
            {% endfor %}
          </table>
        </div>
        <div class="col-md-6">
          {% if previous_allocation and not allocation.is_archived %}
          <h3>Current Quota</h3>
          <table class="table table-hover">
            {% for quotagroup in previous_allocation.quotas.all %}
            {% for quota in quota_group.quota_set.all %}
              <tr>
                <th>{{ quota.resource.service_type }} {{ quota.resource }} <span class="label label-primary">{{ quota.group.zone }}</span></th>
                <td>{{ quota.quota }} {{ quota.resource.unit }}</td>
              </tr>
            {% endfor %}
            {% endfor %}
          </table>
          {% elif not allocation.is_archived %}
          <h3>Current Quota</h3>
          <table class="table table-hover">
              <tr>
                  <td colspan="2">No current allocation.</td>
              </tr>
          </table>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Usage Information</h3>
          <table class="table">
            <tr>
              <th width="210px">Category of work</th>
              <td>
                {% if allocation.use_category %}
                {{ allocation.get_use_category_display }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Use case</th>
              <td>
                {% if allocation.use_case %}
                {{ allocation.use_case }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Usage patterns</th>
              <td>
                {% if allocation.usage_patterns %}
                {{ allocation.usage_patterns }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Special requirements</th>
              <td>
                {% if allocation.geographic_requirements %}
                {{ allocation.geographic_requirements }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Estimated number of users</th>
              <td>
                {% if allocation.estimated_number_users %}
                {{ allocation.estimated_number_users }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Other capabilities intended for use with this project</th>
              <td>
                {% if allocation.use_other %}
                {{ allocation.use_other }}
                {% else %}
                <span class="label label-warning">No Submission</span>
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Fields of Research</h3>
           <table class="table table-hover">
              {% if allocation.field_of_research_1 %}
              <tr>
                <th width="75px">FOR 1</th>
                <td>{{ allocation.get_field_of_research_1_display}}</td>
              </tr>
              {% endif %}
              {% if allocation.field_of_research_2 %}
              <tr>
                <th>FOR 2</th>
                <td>{{ allocation.get_field_of_research_2_display}}</td>
              </tr>
              {% endif %}
           </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Collaborating groups</h3>
            {% if allocation.institutions.all %}
            <table class="table table-hover">
              {% for inst in allocation.institutions.all %}
              <tr>
                <td>
                  {{ inst.name }}
                </td>
              </tr>
              {% endfor %}
            </table>
            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Publications/Outputs</h3>
            {% if allocation.publications.all %}
                 <table class="table table-hover">
                    {% for pub in allocation.publications.all %}
                        <tr>
                        {% if forloop.first %}
                            <th width="200" rowspan="{{ allocation.publications.all|length}}">Publication/Output</th>
                        {% endif %}
                            <td>
                                {{ pub.publication }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Research Grant Information</h3>
            {% if allocation.grants.all %}
                {% for grant in allocation.grants.all %}
                    <table class="table table-hover">
                        <tr>
                            <th width="200">Type</th>
                            <td>{{ grant.get_grant_type_display }}</td>
                        </tr>
                         <tr>
                            <th>Funding body and scheme</th>
                            <td>{{ grant.funding_body_scheme }}</td>
                        </tr>
                        <tr>
                            <th>First year funded</th>
                            <td>{{ grant.first_year_funded }}</td>
                        </tr>
                        <tr>
                            <th>Last year funded</th>
                            <td>{{ grant.last_year_funded }}</td>
                        </tr>
                        <tr>
                            <th>Total funding (AUD)</th>
                            <td>{{ grant.total_funding }}</td>
                        </tr>
                        <tr>
                            <th>Grant ID</th>
                            <td>{{ grant.grant_id }}</td>
                        </tr>
                 </table>
                {% endfor %}

            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
              <h4>ANDS, Nectar, or RDS funded projects supporting this request:</h4>
              <p>
                {% if allocation.nectar_support %}
                  {{ allocation.nectar_support }}
                {% else %}
                  <span class="label label-warning">No Submission</span>
                {% endif %}
              </p>
              <h4>NCRIS capabilities supporting this request:</h4>
              <p>
                {% if allocation.ncris_support %}
                  {{ allocation.ncris_support }}
                {% else %}
                  <span class="label label-warning">No Submission</span>
                {% endif %}
              </p>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-md-12">
          <h3>Hidden Fields</h3>
          <table class="table">
            <tr>
              <th width="210px">convert_trial_project</th>
              <td>{{ allocation.convert_trial_project }}</td>
            </tr>
            <tr>
              <th width="210px">allocation_home</th>
              <td>{{ allocation.allocation_home }}</td>
            </tr>
            <tr>
              <th width="210px">for_percentage_1</th>
              <td>{{ allocation.for_percentage_1 }}</td>
            </tr>
            <tr>
              <th width="210px">for_percentage_2</th>
              <td>{{ allocation.for_percentage_2 }}</td>
            </tr>
            <tr>
              <th width="210px">field_of_research_3</th>
              <td>{{ allocation.field_of_research_3 }}</td>
            </tr>
            <tr>
              <th width="210px">for_percentage_3</th>
              <td>{{ allocation.for_percentage_3 }}</td>
            </tr>
            <tr>
              <th width="210px">funding_national_percent</th>
              <td>{{ allocation.funding_national_percent }}</td>
            </tr>
            <tr>
              <th width="210px">funding_funding_node</th>
              <td>{{ allocation.funding_node }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if allocation.status_explanation %}
            <h3>Reviewer Comment</h3>
            <p>
              {{allocation.status_explanation}}
            </p>
          {% endif %}
        </div>
      </div>
      {% block extra_details %}
      {% endblock %}
      <div class="row">
        <div class="form-group detail-actions">
          {% block detail_actions %}
          {% endblock %}
        </div>
      </div>
  </div>
{% endblock %}
