<table class="more_fields_tab">
    <tbody>
    {% for institution_form in institution_formset.forms %}
        <tr{% if forloop.first %} class="hidden"{% endif %}>
            {% if institution_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ institution_form.non_field_errors }}</div>
            {% endif %}
            <td>
                {{ institution_form.id }}
                {{ institution_form.DELETE.as_hidden }}
            </td>
            {% if forloop.first %}
                {% include "rcallocation/non_removable_field.html" with field=institution_form.name %}
            {% else %}
                {% include "rcallocation/removable_field.html" with field=institution_form.name %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="add_another_row"><input type="button" class="btn btn-success" value="Add group" id="add_another"></td>
            <td></td>
        </tr>
    </tfoot>
</table>
